.score-board-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--light-clr);
    border-radius: var(--border-radius);
    padding-inline: calc(var(--padding-inline) * 3);
    padding-block: calc(var(--padding-block) * 5);
    gap: calc(var(--gap) * 3);
    box-shadow: 1px 1px 5px var(--primary-clr);
}

.primary-score-board {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.score {
    display: flex;
    gap: 1rem;
    font-size: var(--score-size);
}

.main-score {
    --score-size: 2rem;
}


.sub-score {
    --score-size: 1.5rem;
}


.secondary-score-board {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--gap);
    font-size: 1.2rem;
}

.extra {
    display: flex;
    justify-content: space-between;
    color: var(--black-clr);
    gap: var(--gap);
    width: 100%;
}

.title {
    color: var(--black-clr);
    font-family: var(--ff-2);
    font-weight: 300;
}

.value {
    display: flex;
    gap: calc(var(--gap) * 0.5);
    font-family: var(--ff-2);
    font-weight: 400;
}

.correct {
    color: var(--black-clr);
}

.wrong {
    color: var(--accent-clr);
}