header{
    background-color: var(--light-clr);
    padding-inline: var(--padding-inline-sm);
    padding-block: var(--padding-block-sm);
}

.logo-container {
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.fast-icon {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: calc(var(--gap) * 0.2);
    padding-inline: var(--padding-inline-sm);
    padding-block: var(--padding-block-sm);
}

.fast-top {
    width: calc(var(--p1-sm) * 3);
    background-color: var(--primary-clr);
}

.fast-mid {
    width: calc(var(--p1-sm) * 2);
    background-color: var(--secondary-clr);
}

.fast-bot {
    width: calc(var(--p1-sm) * 1);
    background-color: var(--accent-clr);
}

.part {
    border-radius: 5px;
    height: calc(var(--p1-sm) * 0.5);
}