main {
    padding-inline: var(--padding-inline);
    padding-block: var(--padding-block);
    background-color: var(--primary-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}