:root {
    /* color */
    --light-clr: #FDEEE9;
    --light-clr-dark: #82b9c5;
    --white-clr: #FFFFFF;
    --black-clr: #444444;
    --primary-clr: #DD8E03;
    --secondary-clr: #00C0E9;
    --accent-clr: #FF45C3;
    --red-clr: #DD0000;
    --green-clr: #00DD00;

    /* font */
    --font-family: 'Montserrat', sans-serif;

    /* font sizes at differnt screen sizes*/
    --font-size-text-sm: 1.4rem;
    --font-size-heading-sm: 1.8rem;
    --font-size-reg: 1rem;

    /* spacing */
    --gap: 1rem;
    --p1-sm: 1rem;
    --p2-sm: var(--p1-sm);

    --padding-block-sm: 0.5rem;
    --padding-inline-sm: 0.8rem;

    --margin-block-sm: 1rem;
    --margin-inline-sm: 1.3rem;

    --border-radius: 0.4rem;

    --outline-clr: var(--light-clr-dark);

    /* other */
    --score-size: 0.5rem;
}

.h1 {
    font-weight: 600;
    font-size: var(--font-size-heading-sm);
}

p,
input,
.btn,
select {
    font-weight: 400;
    border-radius: var(--border-radius);
    border: none;
    outline: 0px solid var(--outline-clr);
    font-family: inherit;
    transition: all 0.2s ease-in;
}

p,
.btn,
input {
    font-size: var(--font-size-text-sm);
}

.btn {
    cursor: pointer;
}


.btn, select {
    padding-inline: var(--padding-inline-sm);
    padding-block: calc(var(--padding-block-sm));
}


input:focus,
.btn:hover {
    outline-width: calc(var(--p1-sm) * 0.2);
    outline-style: solid
}